<div class="footer-content">
    <div class="about">
        <h3>Farmacia Santiago</h3>
        <p>Tu salud y bienestar, más cerca de ti.</p>
    </div>

    <div class="contact">
        <h4>Contacto</h4>
        <p>📍 Nuevo Zooquiapam, Oaxaca</p>
        <p>📞 951-000-0000</p>
        <p>✉️ contacto@farmaciasantiago.com</p>
    </div>

    <div class="section-links">
        <h4>Enlaces Rápidos</h4>
        <ul>
            <li><a href="../pages/Inicio.html">Inicio</a></li>
            <li><a href="../pages/productos_p.html">Productos y precios</a></li>
            <li><a href="../pages/ofertas.html">Ofertas</a></li>
            <li><a href="../pages/acerca.html">Acerca de</a></li>
        </ul>
    </div>
</div>

<div class="footer-bottom">
    <p>&copy; 2025 Farmacia Santiago | Todos los derechos reservados</p>
</div>